<div id="header-full">
  <div id="header">
    <a href="#" class="header-link">About</a>
    <a href="#" class="header-link">Campaigns</a>
    <a href="#" id="header-logo"><%= image_tag "logo.png" %></a>
    <a href="#" class="header-link">Events</a>
    <a href="#" class="header-link">Contact</a>
  </div>
</div>
